<form (ngSubmit)="onSubmit($event, form)" #form="ngForm">
    <div class="input-container">
        <div class="input-group">
            <label for="name">Bucket Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="newBucket.name" required />
        </div>
        <div class="input-group">
            <label for="location">Bucket Location:</label>
            <select id="location" name="location" [(ngModel)]="newBucket.location" required>
                <option value="Kranj">Kranj</option>
                <option value="Ljubljana">Ljubljana</option>
            </select>
        </div>
    </div>
    <div class="submit-container">
        <button type="submit" [disabled]="!form.valid" class="create-bucket-button">Create Bucket</button>
    </div>
</form>