<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2>Bucket List</h2>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" (click)="openCreateBucketModal()">Create New Bucket</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <ul class="list-group">
        <li *ngFor="let bucket of buckets" class="list-group-item d-flex justify-content-between align-items-center">
          <a [routerLink]="['/bucket', bucket.id]">{{ bucket.name }}</a>
          <span>{{ bucket.location }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

